{% extends "template.jinja" %}
{% block main %}

{% include("become_subscriber/become_subscriber_script.jinja") %}
{% include("become_subscriber/become_subscriber_style.jinja") %}

<!-- Become A Subscriber -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-0 mt-md-1 mt-lg-5">
            <p class="section-title">Become a subscriber</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(1)">
                <img src="/static/images/subscription1.png" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(2)">
                <img src="/static/images/subscription2.png" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(3)">
                <img src="/static/images/subscription3.png" class="img-fluid banner-img" />
            </a>
        </div>
    </div>
</div>

{% endblock %}