{% extends "template_new.jinja" %}
{% block main %}

{% include("refund_policy/refund_policy_script.jinja") %}
{% include("refund_policy/refund_policy_style.jinja") %}

<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center mt-3 mt-md-1 mt-lg-0">
            <p style="font-size: 1.5rem;"><b>Refund Policy</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            At Bukrent, we have a transparent Exchange & Refund Policy and we want to provide a hassle-free customer experience. Firstly, if you are looking to refund or exchange the books, you have subscribed to bookrent.com, thus a big ‘Thank You’ for subscribing.
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12">
            <b>Exchange Policy:</b>
            <p>If you wish to exchange any of the books, you can do so during the delivery of the books. Let us know the books you want to exchange and the books which you want in return. We will set up this exchange process with no additional delivery cost to the subscriber.</p>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-md-12 col-lg-12">
            <b>Refund Policy:</b>
            <p>If you are not happy with the subscription and want to cancel it, 100% refund of security amount is guaranteed, no questions asked.</p>
            <p>Please write to us at <span class="text-orange">hello@Bukrent.com</span> or call our customer support number +91 8789598141, 5 days prior to the start of the new month and we will refund the security amount and cancel the subscription. If you have made the payment through UPI/Net banking/Card, we will refund through the online process and it will be processed within 3 days of cancellation request.</p>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-md-12 col-lg-12 mb-5">
            <b>Contact Us:</b>
            <p>Any further queries, please reach out to us at +91 8789598141 or write to us at <span class="text-orange">hello@Bukrent.com</span></p>
        </div>
    </div>
</div>

{% endblock %}