{% extends "template_new.jinja" %}
{% block main %}

{% include("add_address/add_address_script.jinja") %}
{% include("add_address/add_address_style.jinja") %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5">
            <img src="/static/images/address.svg" class="img-fluid step-img" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5">
            <h2><b>Add Address</b></h2>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>Flat / House Number</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <input type="text" name="house_number" id="house_number" class="form-control" placeholder="House Number 83" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>Building / Apartment</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <input type="text" name="building" id="building" class="form-control" placeholder="Ganga Apartment" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>Area / Street</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <input type="text" name="area" id="area" class="form-control" placeholder="Hauz Khas" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>Landmark</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <input type="text" name="landmark" id="landmark" class="form-control" placeholder="Opp. Delhi Public School" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>6 - Digits [0-9] PIN code</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <input type="text" name="pin_code" id="pin_code" class="form-control" placeholder="110001" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 py-5 text-center">
            <button class="orange-btn m-2 py-3" id="next_button">Next</button>
        </div>
    </div>
</div>

{% endblock %}