<script>
    $(function(){
        $("#next_button").click(function(){
            let data = {
                house_number: $("#house_number").val(),
                building: $("#building").val(),
                area: $("#area").val(),
                landmark: $("#landmark").val(),
                pin_code: $("#pin_code").val()
            }

            $.ajax({
                url: "{{url_for('api.add_address')}}",
                type: "post",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function(){
                    $('.main-container').addClass('blur');
                    $(':button').prop('disabled', true);
                    $("#loader").show();
                },
                success: function (result) {
                    window.location.href = result.redirect;
                },
                error: function (result) {
                    Swal.fire(
                        'Uh Oh!',
                        result.responseJSON.message,
                        'error'
                    )
                },
                complete:function(data){
                    $('.main-container').removeClass('blur');
                    $(':button').prop('disabled', false);
                    $("#loader").hide();
                }
            })
        })
    })
</script>