<style>
    .banner-box {
        background-color: #f0fedf;
        min-height: 20vh;
    }

    .banner-big-text {
        font-size: 2rem;
        color: #dd913e;
    }

    .age-img {
        width: 80%;
    }

    .gray-text {
        color: #636363;
    }

    .gray-container {
        background-color: #f1f1f1;
    }

    .book-img {
        height: 25vh;
    }

    .gray-img {
        filter: grayscale(100%);
        height: 12.5vh;
    }

    .small-text {
        font-size: 0.8em;
        color: #636363;
    }

    .text-yellow {
        color: #dd913e;
        font-size: 0.8em;
    }

    .carousel-control-next{
        left: 70vw;
        right: unset;
    }

    .carousel-control-prev{
        left: unset;
        right: 70vw;
    }

    .series-container {
        min-height: 10vw;
    }

    .genre-container {
        min-height: 10vw;
    }

    .series-img {
        width: 80%;
    }

    .highlight-img {
        height: 80% !important;
        width: 60% !important;
        left: 20%;
        top: -10%;
    }

    .category-img {
        border-radius: 1em;
    }

    .author-container {
        min-height: 10vw;
    }

    .author-img1 {
        height: 15vh !important;
    }
    
    .author-img2 {
        height: 15vh !important;
    }
    .highlight-author-img {
        height: 100% !important;
        width: 60% !important;
        left: 20%;
        top: -10%;
    }

    .category1-box {
        background-color: #dff2ff;
        border: 1px solid #75c7ff;
    }

    .category-img {
        width: 90%;
    }

    .category1-text {
        background-color: #75c7ff;
    }
    
    .category2-box {
        background-color: #ffe7fd;
        border: 1px solid #c782b8;
    }

    .category2-text {
        background-color: #c782b8;
    }

    .category3-box {
        background-color: #ffedd7;
        border: 1px solid #ffa042;
    }

    .category3-text {
        background-color: #ffa042;
    }

    @media (max-width:480px) {
        .carousel-control-next{
            left: 85vw;
            right: unset;
        }
    
        .carousel-control-prev{
            left: unset;
            right: 85vw;
        }

        .highlight-img {
            height: 60% !important;
            width: 60% !important;
            left: 20%;
            top: -10%;
        }

        .author-img1 {
            height: 10vh !important;
        }
        
        .author-img2 {
            height: 10vh !important;
        }
    }
</style>