{% extends "template.jinja" %}
{% block main %}

{% include("home/home_script.jinja") %}
{% include("home/home_style.jinja") %}

<!-- Section 1 -->
<div class="row">
    <div class="col-12 col-md-12 col-lg-12 p-5 banner-box text-center">
        <h3 class="gray-text mt-3"><span class="banner-big-text">50%</span> books purchased are <span class="banner-big-text">never</span> completed</h3>
    </div>
</div>


<!-- Section 2 -->
<div class="gray-container">
    <div class="row pt-3 pt-md-5 pt-lg-5">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <h2 class="gray-text"><b>Select By Age</b></h2>
        </div>
    </div>
    <div class="row pb-3 p-3 pb-lg-0 pb-md-0" style="overflow-y: hidden;">
        <div class="col-4 col-md-2 col-lg-2 p-1 p-md-5 p-lg-5 text-center">
            <a class="no-decoration" href="{{url_for('views.book_category')}}?age-group=1">
                <img src="/static/images/age1.png" class="age-img" />
            </a>
        </div>
        <div class="col-4 col-md-2 col-lg-2 p-1 p-md-5 p-lg-5 text-center">
            <a class="no-decoration" href="{{url_for('views.book_category')}}?age-group=2">
                <img src="/static/images/age2.png" class="age-img" />
            </a>
        </div>
        <div class="col-4 col-md-2 col-lg-2 p-1 p-md-5 p-lg-5 text-center">
            <a class="no-decoration" href="{{url_for('views.book_category')}}?age-group=3">
                <img src="/static/images/age3.png" class="age-img" />
            </a>
        </div>
        <div class="col-4 col-md-2 col-lg-2 p-1 p-md-5 p-lg-5 text-center">
            <a class="no-decoration" href="{{url_for('views.book_category')}}?age-group=4">
                <img src="/static/images/age4.png" class="age-img" />
            </a>
        </div>
        <div class="col-4 col-md-2 col-lg-2 p-1 p-md-5 p-lg-5 text-center">
            <a class="no-decoration" href="{{url_for('views.book_category')}}?age-group=5">
                <img src="/static/images/age5.png" class="age-img" />
            </a>
        </div>
        <div class="col-4 col-md-2 col-lg-2 p-1 p-md-5 p-lg-5 text-center">
            <a class="no-decoration" href="{{url_for('views.book_category')}}?age-group=6">
                <img src="/static/images/age6.png" class="age-img" />
            </a>
        </div>
    </div>
</div>

<!-- Section 3 -->
<div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <a class="no-decoration" href="{{url_for('views.book_category')}}?type=bestseller"><h2 class="gray-text"><b>Bestsellers</b></h2></a>
    </div>
</div>
<div class="container">
    <div id="bestseller-carousel" class="owl-carousel owl-theme">
        {% for bestseller in bestsellers %}
        <div class="book-box">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 text-center">
                    <a class="no-decoration" href="{{url_for('views.book_details')}}?guid={{bestseller.guid}}">
                        <img src="{{bestseller.image}}" class="book-img" />
                    </a>
                </div>
                <div class="col-12 col-md-12 col-lg-12 pt-2">
                    <a class="no-decoration" href="{{url_for('views.book_details')}}?guid={{bestseller.guid}}">
                        {{bestseller.name}}
                    </a>
                </div>
                <div class="col-6 col-md-6 col-lg-6">
                    <a class="no-decoration" href="{{url_for('views.book_subcategory')}}?guid={{bestseller.authors[0].guid}}&type=author"><p class="small-text">{{bestseller.authors[0].name}}</p></a>
                </div>
                <div class="col-6 col-md-6 col-lg-6 text-right">
                    <p class="text-yellow"><i class="fa-solid fa-star"></i> {{bestseller.rating}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Section 4 -->
<div class="gray-container">
    <div class="row pb-3 p-3 pb-lg-0 pb-md-0">
        <img src="/static/images/steps.png" class="img-fluid banner-img" />
    </div>
</div>

<!-- Section 5 -->
<div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <a class="no-decoration" href="{{url_for('views.book_category')}}?type=series"><h2 class="gray-text"><b>Select By Series</b></h2></a>
    </div>
</div>
<div class="container">
    <div id="series-carousel" class="owl-carousel owl-theme">
        {% for serie in series %}
        <a class="no-decoration" href="{{url_for('views.book_subcategory')}}?type=series&guid={{serie.guid}}">
            <div class="series-box mt-4 pt-4">
                <div class="row position-relative series-container">
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{serie.books[0].image}}" class="series-img gray-img" />
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{serie.books[1].image}}" class="series-img gray-img" />
                    </div>
                    <img src="{{serie.books[2].image}}" class="highlight-img position-absolute" />
                    <div class="col-12 col-md-12 col-lg-12 mt-5">
                        {{serie.name}}
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="small-text">{{serie.books | length}} books</p>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="text-yellow"><i class="fa-solid fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Section 6 -->
<div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <a class="no-decoration" href="{{url_for('views.book_category')}}?type=author"><h2 class="gray-text"><b>Select By Author</b></h2></a>
    </div>
</div>
<div class="container">
    <div id="author-carousel" class="owl-carousel owl-theme">
        {% for author in authors %}
        <a class="no-decoration" href="{{url_for('views.book_subcategory')}}?type=author&guid={{author.guid}}">
            <div class="series-box mt-4 pt-4">
                <div class="row position-relative series-container">
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{author.books[0].image}}" class="series-img" />
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{author.books[1].image}}" class="series-img" />
                    </div>
                    <img src="{{author.books[2].image}}" class="highlight-img position-absolute" />
                    <div class="col-12 col-md-12 col-lg-12 mt-5">
                        {{author.name}}
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="small-text">{{author.books | length}} books</p>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="text-yellow"><i class="fa-solid fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Section 7 -->
<div class="container">
    <div id="carousel-category-control" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner" id="category-carousel-container">
            <!-- Renders Dynamically though JS -->
        </div>
        <button class="carousel-control-prev text-dark" type="button" data-bs-target="#carousel-category-control" data-bs-slide="prev">
            <i class="fa-solid fa-arrow-left text-black"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-category-control" data-bs-slide="next">
            <i class="fa-solid fa-arrow-right text-black"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Section 8 -->
<!-- <div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <h2 class="gray-text"><b>Select By Publisher</b></h2>
    </div>
</div>
<div class="container">
    
</div> -->

<!-- Section 9 -->
<div class="container">
    <div id="carousel-type-control" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner" id="type-carousel-container">
            <!-- Renders Dynamically though JS -->
        </div>
        <button class="carousel-control-prev text-dark" type="button" data-bs-target="#carousel-type-control" data-bs-slide="prev">
            <i class="fa-solid fa-arrow-left text-black"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-type-control" data-bs-slide="next">
            <i class="fa-solid fa-arrow-right text-black"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- Section 10 -->
<div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <a class="no-decoration" href="{{url_for('views.book_category')}}?type=genre"><h2 class="gray-text"><b>Select By Genre</b></h2></a>
    </div>
</div>
<div class="container">
    <div id="category-carousel" class="owl-carousel owl-theme">
        {% for category in categories %}
        <a class="no-decoration" href="{{url_for('views.book_subcategory')}}?type=genre">
            <div class="series-box mt-4 pt-4">
                <div class="row position-relative series-container">
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{category.books[0].image}}" class="series-img" />
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{category.books[1].image}}" class="series-img" />
                    </div>
                    <img src="{{category.books[2].image}}" class="highlight-img position-absolute" />
                    <div class="col-12 col-md-12 col-lg-12 mt-5">
                        {{category.name}}
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="small-text">{{category.books | length}} books</p>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="text-yellow"><i class="fa-solid fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Section 11 -->
<div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <a class="no-decoration" href="{{url_for('views.book_category')}}?type=publisher"><h2 class="gray-text"><b>Select By Publisher</b></h2></a>
    </div>
</div>
<div class="container">
    <div id="publisher-carousel" class="owl-carousel owl-theme">
        {% for publisher in publishers %}
        <a class="no-decoration" href="{{url_for('views.book_subcategory')}}?type=publisher&guid={{publisher.guid}}">
            <div class="series-box mt-4 pt-4">
                <div class="row position-relative series-container">
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{publisher.books[0].image}}" class="series-img" />
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 position-relative text-center">
                        <img src="{{publisher.books[1].image}}" class="series-img" />
                    </div>
                    <img src="{{publisher.books[2].image}}" class="highlight-img position-absolute" />
                    <div class="col-12 col-md-12 col-lg-12 mt-5">
                        {{publisher.name}}
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="small-text">{{publisher.books | length}} books</p>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6">
                        <p class="text-yellow"><i class="fa-solid fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Section 12 -->
<div class="row pt-3 pt-md-5 pt-lg-5">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <h2 class="gray-text"><b>Become A Subscriber</b></h2>
    </div>
</div>
<div class="row pb-3 p-3 pb-lg-0 pb-md-0" style="overflow-y: hidden;">
    <div class="col-3 col-md-3 col-lg-3 p-1 p-md-5 p-lg-5">
        <a onclick="choose_plan(1)">
            <img src="/static/images/subscription1.png" class="img-fluid banner-img" />
        </a>
    </div>
    <div class="col-3 col-md-3 col-lg-3 p-1 p-md-5 p-lg-5">
        <a onclick="choose_plan(2)">
            <img src="/static/images/subscription2.png" class="img-fluid banner-img" />
        </a>
    </div>
    <div class="col-3 col-md-3 col-lg-3 p-1 p-md-5 p-lg-5">
        <a onclick="choose_plan(3)">
            <img src="/static/images/subscription3.png" class="img-fluid banner-img" />
        </a>
    </div>
    <div class="col-3 col-md-3 col-lg-3 p-1 p-md-5 p-lg-5">
        <a onclick="choose_plan(4)">
            <img src="/static/images/subscription4.png" class="img-fluid banner-img" />
        </a>
    </div>
</div>

{% endblock %}