{% extends "template_new.jinja" %}
{% block main %}

{% include("login/login_script.jinja") %}
{% include("login/login_style.jinja") %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5">
            <h2><b>Login</b></h2>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>Mobile Number</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            {% if mobile_number %}
            <input type="text" name="mobile_number" id="mobile_number" class="form-control" value="{{mobile_number}}" readonly />
            {% else %}
            <input type="text" name="mobile_number" id="mobile_number" class="form-control" />
            {% endif %}
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-4">
            <p><b>Password</b></p>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <input type="text" name="password" id="password" class="form-control" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 py-5 text-center">
            <button class="orange-btn m-2 py-3" id="login_button">Login</button>
        </div>
    </div>
</div>

{% endblock %}