{% extends "template.jinja" %}
{% block main %}

{% include("login/login_script.jinja") %}
{% include("login/login_style.jinja") %}

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-0 mt-md-1 mt-lg-5">
            <p class="section-title">Login</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <input type="number" name="mobile_number" id="mobile_number" class="form-control" placeholder="Mobile Number" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center mt-5">
            <button class="cart-button m-2 py-3" id="login_button">Login</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <span class="small-text">Or don't have an account? <a href="{{url_for('views.signup')}}">Signup</a> now!</span>
        </div>
    </div>
</div>

{% endblock %}