<script>
    let password1 = false; 
    let password2 = false; 
    $(function(){
        $("#next_button").click(function(){
            let data = {
                email: $("#email").val(),
                password: $("#password").val(),
                confirm_password: $("#confirm_password").val()
            }

            $.ajax({
                url: "{{url_for('api.add_details')}}",
                type: "post",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function(){
                    $('.main-container').addClass('blur');
                    $(':button').prop('disabled', true);
                    $("#loader").show();
                },
                success: function (result) {
                    window.location.href = result.redirect;
                },
                error: function (result) {
                    Swal.fire(
                        'Uh Oh!',
                        result.responseJSON.message,
                        'error'
                    )
                },
                complete:function(data){
                    $('.main-container').removeClass('blur');
                    $(':button').prop('disabled', false);
                    $("#loader").hide();
                }
            })
        })

        $("#basic-addon1").click(function(){
            $("#basic-addon1").empty()
            if (password1) {
                $("#basic-addon1").append(`<i class="fas fa-eye-slash" aria-hidden="true"></i>`)
                $("#password").attr('type', 'password')
            } else {
                $("#basic-addon1").append(`<i class="fa fa-eye" aria-hidden="true"></i>`)
                $("#password").attr('type', 'text')
            }

            password1 = true ? !password1 : false;
        })

        $("#basic-addon2").click(function(){
            $("#basic-addon2").empty()
            if (password2) {
                $("#basic-addon2").append(`<i class="fas fa-eye-slash" aria-hidden="true"></i>`)
                $("#confirm_password").attr('type', 'password')
            } else {
                $("#basic-addon2").append(`<i class="fa fa-eye" aria-hidden="true"></i>`)
                $("#confirm_password").attr('type', 'text')
            }

            password2 = true ? !password2 : false;
        })
    })
</script>