<style>
    .detail-small-text {
        font-size: 0.75rem;
    }

    #password {
        border-right: none;
    }

    #confirm_password {
        border-right: none;
    }

    .input-group-btn {
        color: black;
        font-weight: 900;
        background-color: white;
        border-radius: 0.3rem;
        border: 1px solid #ced4da;
        border-left: none;
    }
</style>