<style>
    .gray-text {
        color: #636363;
    }

    .cart-button {
        background-color: #dd913e;
        color: white;
        border: 2px solid #dd913e;
        border-radius: 1em;
        width: 100%;
    }

    .text-yellow {
        color: #dd913e;
        font-size: 1em;
    }

    .book-box {
        background-color: #F9F9F9;
    }

    .cart-img {
        max-height: 15vh;
    }
</style>