<style>
    .gray-text {
        color: #636363;
    }

    .cart-button {
        background-color: #fa7e0a;
        color: white;
        border: 2px solid #fa7e0a;
        border-radius: 1em;
        width: 40%;
    }

    .text-yellow {
        color: #fa7e0a;
        font-size: 1em;
    }

    .book-box {
        background-color: #F9F9F9;
    }

    .cart-img {
        min-height: 20vh;
        max-height: 20vh;
        max-width: 50%;
    }

    .book-name {
        font-size: 2rem;
    }

    .book-author {
        font-size: 1rem;
    }

    .book-rating {
        color: #fa7e0a;
        font-size: 1rem
    }

    @media (max-width: 1024px) {
        .no-mobile {
            display: none;
        }

        .cart-button {
            background-color: #fa7e0a;
            color: white;
            border: 2px solid #fa7e0a;
            border-radius: 1em;
            width: 60%;
        }

        .cart-img {
            min-height: 15vh;
            max-height: 15vh;
            max-width: 100%;
        }

        .book-name {
            font-size: 1.5rem;
        }

        .book-author {
            font-size: 0.75rem;
        }

        .book-rating {
            color: #fa7e0a;
            font-size: 0.75rem
        }
    }

    @media (max-width: 480px) {
        .no-mobile {
            display: none;
        }

        .cart-button {
            background-color: #fa7e0a;
            color: white;
            border: 2px solid #fa7e0a;
            border-radius: 1em;
            width: 80%;
        }

        .cart-img {
            min-height: 15vh;
            max-height: 15vh;
            max-width: 100%;
        }

        .book-name {
            font-size: 1rem;
        }

        .book-author {
            font-size: 0.75rem;
        }

        .book-rating {
            color: #fa7e0a;
            font-size: 0.75rem
        }
    }
</style>