{% extends "template_new.jinja" %}
{% block main %}

{% include("contact_us/contact_us_script.jinja") %}
{% include("contact_us/contact_us_style.jinja") %}

<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center mt-3 mt-md-1 mt-lg-0">
            <p style="font-size: 1.5rem;"><b>Contact Us</b></p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mt-3">
                    <b class="text-orange">Mobile: </b> +91 8826609863
                </div>
                <div class="col-12 col-md-12 col-lg-12 mt-3">
                    <b class="text-orange">Email: </b> hello@bukrent.com
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mt-3 mb-5">
                    <b class="text-orange">Address:</b> Bukrent, Shahid Bhagat Singh Marg, Gol Market, New Delhi - 110001
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}