<script>
    $(document).ready(function(){
        get_similar_books();
    })

    function get_similar_books() {
        let data = {
            age_group: "{{age_group}}"
        }

        $.ajax({
            url: "{{url_for('api.get_similar_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#similar-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#similar-carousel").append(html);
                }

                $("#similar-carousel").owlCarousel("destroy")

                $("#similar-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    $(function(){
        $("#add_to_cart").click(function(){
            add_to_cart("{{book.guid}}")
        })
        $("#add_to_wishlist").click(function(){
            add_to_wishlist("{{book.guid}}")
        })
    })
</script>