<style>
    .gray-text {
        color: #636363;
    }

    .text-yellow {
        color: #dd913e;
        font-size: 0.8em;
    }

    .small-text {
        font-size: 0.8em;
        color: #636363;
    }

    .cart-button {
        background-color: #dd913e;
        color: white;
        border: 2px solid #dd913e;
        border-radius: 1em;
        width: 100%;
    }

    .wishlist-button {
        background-color: white;
        color: #dd913e;
        border: 2px solid #dd913e;
        border-radius: 1em;
        width: 100%;
    }

    .description-box {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .detail-box {
        background-color: #f1f1f1;
        border: 1px solid white;
    }

    .book-tag {
        color: white;
        font-size: 0.8em;
        background-color: #636363;
    }
</style>