<style>
    .gray-text {
        color: #636363;
    }

    .max-height {
        height: 100%;
    }

    .text-yellow {
        color: #fa7e0a;
        font-size: 0.8em;
    }

    .small-text {
        font-size: 0.8em;
        color: #636363;
    }

    .cart-button {
        background-color: #fa7e0a;
        color: white;
        border: 2px solid #fa7e0a;
        border-radius: 1em;
        width: 100%;
    }

    .wishlist-button {
        background-color: white;
        color: #fa7e0a;
        border: 2px solid #fa7e0a;
        border-radius: 1em;
        width: 100%;
    }

    .description-box {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .detail-box {
        background-color: #f1f1f1;
        border: 1px solid white;
    }

    .book-tag {
        color: white;
        font-size: 0.8em;
        padding: 2px;
        margin: 1px;
        background-color: #636363;
    }

    @media (max-width: 1024px) {
        .no-mobile {
            display: none;
        }
    }
</style>