{% extends "template.jinja" %}
{% block main %}

{% include("details/detail_script.jinja") %}
{% include("details/detail_style.jinja") %}

<!-- Section 1 -->
<div class="row no-mobile">
    <div class="col-12 col-md-12 col-lg-12 banner-box text-center">
        <img src="/static/images/steps-mini.png" class="img-fluid" />
    </div>
</div>

<!-- Section 2 -->
<div class="container">
    <div class="row py-0 py-md-5 py-lg-5">
        <div class="col-12 col-md-12 col-lg-12">
            <b>Age {{book.details.display_age_group}} Years</b> | {{book.categories[0].name}} | {{book.name}}
        </div>
    </div>
</div>

<!-- Section 3 -->
<div class="container gray-text">
    <div class="row pb-5">
        <div class="col-12 col-md-4 col-lg-4 text-center text-md-start text-lg-start">
            <img src="{{book.image}}" class="img-fluid" />
        </div>
        <div class="col-12 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <b style="color: black;"><h1>{{book.name}}</h1></b>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="text-yellow"><i class="fa-solid fa-star"></i> {{book.rating}}</p>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <p class="small-text">Author</p>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <p class="small-text">Publisher</p>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <span class="text-yellow"><i class="fas fa-comments"></i></span> <span class="small-text">{{book.review_count}}</span>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <a class="no-decoration"><b>{{book.authors[0].name}}</b></a>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <a class="no-decoration"></a><b>{{book.details.publisher}}</b>
                </div>
                <div class="col-4 col-md-4 col-lg-4"></div>
                <div class="col-8 col-md-8 col-lg-8 pt-5">
                    <div class="row">
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-solid fa-hands" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">Handpicked for child growth</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-solid fa-truck" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">Shipping is free both ways</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-lg-4">
                            <!-- <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-solid fa-book" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">7 day replacement</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 text-center">
                            <button class="cart-button m-2 py-3" id="add_to_cart">Add to cart</button>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 text-center">
                            <button class="wishlist-button m-2 py-3" id="add_to_wishlist"><i class="fa-regular fa-heart"></i> Add to wishlist</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 description-box mt-4 pt-3">
                    <p class="small-text">
                        {{book.description}}
                    </p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="row mt-4">
                        <div class="col-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text">Reading age</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-solid fa-baby mt-2" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">{{book.details.for_age}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text">Print length</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-solid fa-book mt-2" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">{{book.details.pages}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text">Language</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-solid fa-globe mt-2" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">{{book.details.language}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text">Dimensions</p>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <i class="fa-light fa-box" style="font-size: 3em;"></i>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center">
                                    <p class="small-text mt-2">{{book.details.dimensions}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Similar Books -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Login</p>
        </div>
    </div>

    <div id="similar-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>
</div>

<!-- Section 6 -->
<div class="container gray-text my-5">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <b><h1>Product Details</h1></b>
        </div>
        <div class="col-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Book Title</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Book Format</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.book_format}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>For Ages</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.details.for_age}}</p>
                        </div>
                    </div>
                </div>
                {% if book.authors | length > 0 %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Author</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.authors[0].name}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Language</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.details.language}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Edition</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.details.edition}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Publisher</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.details.publisher}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Page(s)</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            <p>{{book.details.pages}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row detail-box p-3 max-height">
                        <div class="col-4 col-md-4 col-lg-4">
                            <b><p>Tags</p></b>
                        </div>
                        <div class="col-8 col-md-8 col-lg-8">
                            {% for category in book.categories[:3] %}
                            <span class="book-tag p-1">{{category.name}}</span> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 7 -->
<div class="container gray-text">
    <div class="row">
        {% if book.annotation.review_text %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <b><h1>Editor's Review</h1></b>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <p>{{book.annotation.review_text}}</p>
            </div>
        </div>
        {% endif %}
        {% if book.reviews | length > 0 %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <b><h1>Product Details</h1></b>
            </div>
            {% for review in book.reviews %}
                <div class="col-12 col-md-12 col-lg-12">
                    <p>{{review.review}}</p>
                    <p class="small-text">By {{review.author}}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if book.annotation.about_text %}
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <b><h1>About The Author</h1></b>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
                <p>{{book.annotation.about_author}}</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% if user %}
{% if user.is_subscribed %}
<!-- Become A Subscriber -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Become a subscriber</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(1)">
                <img src="/static/images/subscription1.png" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(2)">
                <img src="/static/images/subscription2.png" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(3)">
                <img src="/static/images/subscription3.png" class="img-fluid banner-img" />
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endif %}

{% endblock %}