<script>
    $(document).ready(function(){
        $("#book-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:6
                }
            }
        })
    })
</script>