{% extends "template_new.jinja" %}
{% block main %}

{% include("confirm_payment/confirm_payment_script.jinja") %}
{% include("confirm_payment/confirm_payment_style.jinja") %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5">
            <img src="/static/images/select.svg" class="img-fluid step-img" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5 text-center">
            <h3><b>3 Month Subscription</b></h3>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <img src="/static/images/{{plan_image}}" class="img-fluid banner-img" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-2 text-center">
            <h1 class="text-orange"><b>Amount - Rs. {{amount}}</b></h1>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-2 text-center">
            <h1 class="text-gray"><b>Next Month Payment - Rs. {{next_amount}}</b></h1>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-2 text-center">
            <button class="orange-btn m-2 py-3" id="payment">Proceed to Payment</button>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-3 pb-5 text-center">
            <button class="white-btn m-2 py-3" id="plan_button">Change Plan</button>
        </div>
    </div>
</div>

{% endblock %}