<script>
    let categories = [
        {
            "image": "category1",
            "text": "All Books",
            "primaryColor": "#75c7ff",
            "secondaryColor": "#dff2ff"
        },
        {
            "image": "category2",
            "text": "Most Liked",
            "primaryColor": "#c782b8",
            "secondaryColor": "#ffe7fd"
        },
        {
            "image": "category3",
            "text": "Best Seller",
            "primaryColor": "#ffa042",
            "secondaryColor": "#ffedd7"
        },
        {
            "image": "category4",
            "text": "Series",
            "primaryColor": "#75c7ff",
            "secondaryColor": "#dff2ff"
        },
        {
            "image": "category5",
            "text": "Reading Levels",
            "primaryColor": "#c782b8",
            "secondaryColor": "#ffe7fd"
        },
        {
            "image": "category6",
            "text": "Genres",
            "primaryColor": "#ffa042",
            "secondaryColor": "#ffedd7"
        }
    ]

    let types = [
        {
            "image": "type1",
            "text": "Flip Book",
            "primaryColor": "#f4c91a",
            "secondaryColor": "#fef9cf"
        },
        {
            "image": "type2",
            "text": "Hard Cover",
            "primaryColor": "#ffa041",
            "secondaryColor": "#ffedd7"
        },
        {
            "image": "type3",
            "text": "Pop Up Book",
            "primaryColor": "#8ace39",
            "secondaryColor": "#f0ffe0"
        },
        {
            "image": "type4",
            "text": "Sound Book",
            "primaryColor": "#75c7ff",
            "secondaryColor": "#dff2ff"
        }
    ]

    $(document).ready(function() {
        $("#section1-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:5
                }
            }
        })
        $("#section2-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:5
                }
            }
        })
        $("#section3-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:5
                }
            }
        })
        $("#section4-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:5
                }
            }
        })
        $("#section5-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:5
                }
            }
        })
        addCategories();
        addTypes();
    })

    function addCategories() {
        let categoryLimit = screen.width <= 480 ? 2 : 3;
        let categoryGroup = [];
        let categoryGroups = [];
        let counter = 0;
        for (let i = 0; i < categories.length; i++) {
            if (counter === categoryLimit) {
                counter = 0;
                categoryGroups.push(categoryGroup)
                categoryGroup = []
            }
            categoryGroup.push(categories[i]);
            counter ++;
        }
        if (categoryGroup !== []) {
            categoryGroups.push(categoryGroup)
        }
        for (let i = 0; i < categoryGroups.length; i++) {
            let startHtml = `
                ${i === 0 ? '<div class="carousel-item active">' : '<div class="carousel-item">'}
                    <div class="row pb-3 p-3 pb-lg-0 pb-md-0">
            `
            let endHtml = `
                    </div>
                </div>
            `
            let categoryDivs = [];
            for (let j = 0; j < categoryGroups[i].length; j++) {
                categoryDivs.push(
                    `
                        <div class="col-6 col-md-4 col-lg-4 p-2 p-md-5 p-lg-5">
                            <div class="row p-2">
                                <div class="col-12 col-md-12 col-lg-12 text-center" style="background-color: ${categoryGroups[i][j].secondaryColor}; border: 1px solid ${categoryGroups[i][j].primaryColor}">
                                    <img src="/static/images/${categoryGroups[i][j].image}.png" class="fluid-img" style="width: 90%;" />
                                </div>
                                <div class="col-12 col-md-12 col-lg-12 text-center" style="background-color: ${categoryGroups[i][j].primaryColor}">
                                    <h5 class="text-white">${categoryGroups[i][j].text}</h5>
                                </div>
                            </div>
                        </div>
                    `
                )
            }
            let finalHtml = startHtml;
            for (let j = 0; j < categoryDivs.length; j++) {
                finalHtml += categoryDivs[j]
            }
            $("#category-carousel-container").append(finalHtml + endHtml)
        }
    }

    function addTypes() {
        let typeLimit = screen.width <= 480 ? 2 : 3;
        let typeGroup = [];
        let typeGroups = [];
        let counter = 0;
        for (let i = 0; i < types.length; i++) {
            if (counter === typeLimit) {
                counter = 0;
                typeGroups.push(typeGroup)
                typeGroup = []
            }
            typeGroup.push(types[i]);
            counter ++;
        }
        if (typeGroup !== []) {
            typeGroups.push(typeGroup)
        }
        for (let i = 0; i < typeGroups.length; i++) {
            let startHtml = `
                ${i === 0 ? '<div class="carousel-item active">' : '<div class="carousel-item">'}
                    <div class="row pb-3 p-3 pb-lg-0 pb-md-0">
            `
            let endHtml = `
                    </div>
                </div>
            `
            let typeDivs = [];
            for (let j = 0; j < typeGroups[i].length; j++) {
                typeDivs.push(
                    `
                        <div class="col-6 col-md-4 col-lg-4 p-2 p-md-5 p-lg-5">
                            <div class="row p-2">
                                <div class="col-7 col-md-7 col-lg-7 text-center" style="background-color: ${typeGroups[i][j].secondaryColor}; border: 1px solid ${typeGroups[i][j].primaryColor}">
                                    <img src="/static/images/${typeGroups[i][j].image}.png" class="fluid-img" style="width: 100%;" />
                                </div>
                                <div class="col-5 col-md-5 col-lg-5 text-center" style="background-color: ${typeGroups[i][j].primaryColor}">
                                    <h3 class="text-white pt-2">${typeGroups[i][j].text}</h3>
                                </div>
                            </div>
                        </div>
                    `
                )
            }
            let finalHtml = startHtml;
            for (let j = 0; j < typeDivs.length; j++) {
                finalHtml += typeDivs[j]
            }
            $("#type-carousel-container").append(finalHtml + endHtml)
        }
    }

    function redirect_url(group) {
        let url = window.location.href;

        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });

        let value = params.some_key;
        url = url.split("?")[0];
        if (params.type) {
            url = url + `?type=${params.type}&age-group=${group}`
        } else {
            url = url + `?age-group=${group}`
        }

        window.location.href = url;
    }
</script>