<style>
    .group-1 {
        color: #ff7c72;
        border: 1px solid #ff7c72;
        border-radius: 1em;
        background-color: #ffe6e2;
    }

    .group-2 {
        color: #ffa042;
        border: 1px solid #ffa042;
        border-radius: 1em;
        background-color: #ffedd7;
    }

    .group-3 {
        color: #f4c91a;
        border: 1px solid #f4c91a;
        border-radius: 1em;
        background-color: #fef9cf;
    }

    .group-4 {
        color: #8ace39;
        border: 1px solid #8ace39;
        border-radius: 1em;
        background-color: #f1fee0;
    }

    .group-5 {
        color: #75c7ff;
        border: 1px solid #75c7ff;
        border-radius: 1em;
        background-color: #dff2ff;
    }

    .group-6 {
        color: #c782b8;
        border: 1px solid #c782b8;
        border-radius: 1em;
        background-color: #ffe7fd;
    }

    .selected-1 {
        color: white;
        background-color: #ff7c72;
    }

    .selected-2 {
        color: white;
        background-color: #ffa042;
    }

    .selected-3 {
        color: white;
        background-color: #f4c91a;
    }

    .selected-4 {
        color: white;
        background-color: #8ace39;
    }

    .selected-5 {
        color: white;
        background-color: #75c7ff;
    }

    .selected-6 {
        color: white;
        background-color: #c782b8;
    }

    .description-box {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .gray-text {
        color: #636363;
    }

    .book-img {
        height: 30vh;
    }

    .small-text {
        font-size: 0.8em;
        color: #636363;
    }

    .text-yellow {
        color: #dd913e;
        font-size: 0.8em;
    }

    .series-container {
        min-height: 10vw;
    }

    .series-img {
        width: 80%;
    }

    .highlight-img {
        height: 80% !important;
        width: 60% !important;
        left: 20%;
        top: -10%;
    }

    .carousel-control-next{
        left: 70vw;
        right: unset;
    }

    .carousel-control-prev{
        left: unset;
        right: 70vw;
    }

    @media (max-width:480px) {
        .carousel-control-next{
            left: 85vw;
            right: unset;
        }
    
        .carousel-control-prev{
            left: unset;
            right: 85vw;
        }

        .highlight-img {
            height: 60% !important;
            width: 60% !important;
            left: 20%;
            top: -10%;
        }

        .author-img1 {
            height: 10vh !important;
        }
        
        .author-img2 {
            height: 10vh !important;
        }
    }
</style>