{% extends "template_new.jinja" %}
{% block main %}

{% include("payment_failed/payment_failed_script.jinja") %}
{% include("payment_failed/payment_failed_style.jinja") %}

<div class="container">
    <div class="row text-center">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-5 text-center">
            <h2 style="font-size: 2rem;"><b>Oops!</b></h2>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-2 text-center">
            <h2 style="font-size: 1rem;"><b>Payment Failed!</b></h2>
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 pt-2 text-center">
            <img src="/static/images/payment_failed.svg" class="img-fluid reading-img" />
        </div>
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 py-5 text-center">
            <button class="orange-btn m-2 py-3" id="try_button">Try Again</button>
        </div>
    </div>
</div>

{% endblock %}