<style>
    .age-box {
        border-radius: 1rem;
    }

    .age-1 {
        border: 1px solid #FF7C72;
        color: #FF7C72;
    }

    .age-2 {
        border: 1px solid #fa7e0a;
        color: #fa7e0a;
    }

    .age-3 {
        border: 1px solid #FFD631;
        color: #FFD631;
    }

    .age-4 {
        border: 1px solid #8ACE38;
        color: #8ACE38;
    }

    .age-5 {
        border: 1px solid #74C7FF;
        color: #74C7FF;
    }

    .age-6 {
        border: 1px solid #CB85C2;
        color: #CB85C2;
    }

    .age-text-big {
        font-family: 'Comic Neue', cursive;
        font-weight: 900;
        font-size: 2rem;
    }

    .age-text-small {
        font-family: 'Comic Neue', cursive;
        font-size: 1rem;
    }
</style>