<style>
    .text-gray {
        color: #636363;
    }

    .small-text {
        font-size: 0.8rem;
    }

    .cart-button {
        background-color: #fa7e0a;
        color: white;
        border: 2px solid #fa7e0a;
        border-radius: 1em;
        width: 40%;
    }
</style>