{% extends "template.jinja" %}
{% block main %}

{% include("signup/signup_script.jinja") %}
{% include("signup/signup_style.jinja") %}

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-0 mt-md-1 mt-lg-5">
            <p class="section-title">Signup</p>
        </div>
    </div>

    <div class="row py-3 py-md-5 py-lg-5">
        <div class="col-12 col-md-6 col-lg-6 text-center mt-3">
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center mt-3">
            <input type="number" name="mobile_number" id="mobile_number" class="form-control" placeholder="Mobile Number" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center mt-3">
            <input type="text" name="email" id="email" class="form-control" placeholder="Email" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center mt-3">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center mt-3">
            <input type="text" name="child_name" id="child_name" class="form-control" placeholder="Child Name" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-center mt-3">
            <select class="form-control form-input" id="age">
                <option value="0-2">0-2 Years</option>
                <option value="3-5">3-5 Years</option>
                <option value="6-8">6-8 Years</option>
                <option value="9-11">9-11 Years</option>
                <option value="12-14">12-14 Years</option>
                <option value="15+">15+ Years</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="small-text">Flat, House No., Building, Apartment</p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <input type="text" name="house_number" id="house_number" class="form-control" placeholder="" />
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="small-text">Area / Region</p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <input type="text" name="area" id="area" class="form-control" placeholder="" />
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="small-text">Landmark (Optional)</p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <input type="text" name="landmark" id="landmark" class="form-control" placeholder="" />
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="small-text">City</p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <input type="text" name="city" id="city" class="form-control" placeholder="" />
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="small-text">Country</p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <input type="text" name="country" id="country" class="form-control" placeholder="" />
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="small-text">Pincode</p>
                </div>
                <div class="col-12 col-md-12 col-lg-12">
                    <input type="text" name="pincode" id="pincode" class="form-control" placeholder="" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <button class="cart-button m-2 py-3" id="signup_button">Signup</button>
        </div>
    </div>
</div>

{% endblock %}