<script>
    $(function(){
        $("#signup_button").click(function(){
            let data = {
                name: $("#name").val(),
                mobile_number: $("#mobile_number").val(),
                child_name: $("#child_name").val(),
                age: $("#age").val(),
                email: $("#email").val(),
                password: $("#password").val(),

                house_number: $("#house_number").val(),
                area: $("#area").val(),
                landmark: $("#landmark").val(),
                city: $("#city").val(),
                country: $("#country").val(),
                pincode: $("#pincode").val()
            }

            $.ajax({
                url: "{{url_for('api.signup')}}",
                type: "post",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function(){
                    $('.main-container').addClass('blur');
                    $(':button').prop('disabled', true);
                    $("#loader").show();
                },
                success: function (result) {
                    window.location.href = "{{url_for('views.confirm_mobile')}}"
                },
                error: function (result) {
                    Swal.fire(
                        'Uh Oh!',
                        result.responseJSON.message,
                        'error'
                    )
                },
                complete:function(data){
                    $('.main-container').removeClass('blur');
                    $(':button').prop('disabled', false);
                    $("#loader").hide();
                }
            })
        })
    })
</script>