{% extends "template.jinja" %}
{% block main %}

{% include("confirm_mobile/confirm_mobile_script.jinja") %}
{% include("confirm_mobile/confirm_mobile_style.jinja") %}

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-0 mt-md-1 mt-lg-5">
            <p class="section-title">Confirm OTP</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center mt-3">
            <p>We've sent a 6 digit OTP on {{mobile_number}}. Please confirm to verify your mobile number!</p>
        </div>
        <div class="col-12 col-md-12 col-lg-12 text-center mt-3">
            <input type="text" name="verification_code" id="verification_code" class="form-control" placeholder="6 Digit OTP" />
        </div>
        <div class="col-12 col-md-12 col-lg-12 text-end">
            <a style="font-size: 0.75rem; color: #60abd7;" onclick="resend_otp();">Resend OTP</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <button class="cart-button m-2 py-3" id="verify_button">Verify Mobile</button>
        </div>
    </div>
</div>

{% endblock %}