<style>
    .text-gray {
        color: #636363;
    }

    .cart-button {
        background-color: #dd913e;
        color: white;
        border: 2px solid #dd913e;
        border-radius: 1em;
        width: 40%;
    }
</style>