{% extends "template.jinja" %}
{% block main %}

{% include("home_new/home_new_script.jinja") %}
{% include("home_new/home_new_style.jinja") %}

<!-- Top Text Section -->
<div class="no-mobile row">
    <div class="col-12 col-md-12 col-lg-12 title-box text-center p-5">
        <span class="big-title-text">50%</span> Books purchased are <span class="big-title-text">never</span> completed
    </div>
</div>

<!-- Select By Age Section -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Select By Age</p>
        </div>
    </div>

    <div id="age-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        <div class="age-box age-1">
            <div class="row">
                <a onclick="change_age_group(1)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        0-2
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <img src="/static/images/age1.png" width="75px" class="img-fluid" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-2">
            <div class="row">
                <a onclick="change_age_group(2)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        3-5
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <img src="/static/images/age2.png" width="75px" class="img-fluid" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-3">
            <div class="row">
                <a onclick="change_age_group(3)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        6-8
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <img src="/static/images/age3.png" width="75px" class="img-fluid" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-4">
            <div class="row">
                <a onclick="change_age_group(4)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        9-11
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <img src="/static/images/age4.png" width="75px" class="img-fluid" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-5">
            <div class="row">
                <a onclick="change_age_group(5)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        12-14
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <img src="/static/images/age5.png" width="75px" class="img-fluid" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-6">
            <div class="row">
                <a onclick="change_age_group(6)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        15+
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center">
                        <img src="/static/images/age6.png" width="75px" class="img-fluid" />
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Amazon Bestsellers -->
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title bestseller-title">Amazon Bestsellers</p>
        </div>
    </div>

    <div id="amazon-bestseller-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>
</div>

<!-- How It Works? -->
<!-- For Desktop -->
<div class="no-mobile">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <img src="/static/images/next.png" class="img-fluid" />
        </div>
    </div>
</div>
<!-- For Mobile -->
<div class="no-desktop">
    <div id="next-steps-carousel" class="owl-carousel owl-theme">
        <div class="step-box">
            <img src="/static/images/next1.png" class="img-fluid" />
        </div>
        <div class="step-box">
            <img src="/static/images/next1.png" class="img-fluid" />
        </div>
        <div class="step-box">
            <img src="/static/images/next1.png" class="img-fluid" />
        </div>
        <div class="step-box">
            <img src="/static/images/next1.png" class="img-fluid" />
        </div>
    </div>
</div>

<!-- Type Of Books -->
<!-- <div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Type of Books</p>
        </div>
    </div> -->

    <!-- Type of Books Carousel TBA -->
    <!-- <div id="steps-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>
</div> -->

<!-- Top Text Section -->
<div class="no-mobile row">
    <div class="col-12 col-md-12 col-lg-12 title-box2 text-center p-5">
        <span class="big-title-text2">Reading</span> to mind is what <span class="big-title-text2">exercise</span> is to Body
    </div>
</div>

<!-- Most Borrowed Books -->
<div class="container">
    <div id="most-borrowed-section">
        <div class="row my-3">
            <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
                <p class="section-title borrowed-title">Most Borrowed Books</p>
            </div>
        </div>

        <div id="most-borrowed-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
            
        </div>
    </div>

    <!-- Amazon Bestselling Authors -->
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title authors-title">Amazon Bestselling Authors</p>
        </div>
    </div>

    <div id="amazon-authors-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>

    <!-- Book By Author -->
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title" id="book-by-author">John Doe</p>
        </div>
    </div>

    <a name="author_books"><div id="author-books-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div></a>
</div>

<!-- Top Text Section -->
<div class="no-mobile row">
    <div class="col-12 col-md-12 col-lg-12 title-box3 text-center p-5">
        <span class="big-title-text3">80%</span> of Readers develop the habit at <span class="big-title-text3">age 10</span>
    </div>
</div>

<!-- Amazon Publications -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title publisher-title">Amazon Bestselling Publications</p>
        </div>
    </div>

    <div id="amazon-publications-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>

    <!-- Book By Publisher -->
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title" id="book-by-publisher">John Doe</p>
        </div>
    </div>

    <a name="publisher_books"><div id="publisher-books-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div></a>
</div>

<!-- Top Text Section -->
<div class="no-mobile row">
    <div class="col-12 col-md-12 col-lg-12 title-box4 text-center p-5">
        <span class="big-title-text4">80%</span> of Readers develop the habit at <span class="big-title-text4">age 10</span>
    </div>
</div>

<!-- Amazon Series -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title series-title">Amazon Bestselling Series</p>
        </div>
    </div>

    <div id="amazon-series-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>

    <!-- Book By Series -->
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title" id="book-by-series">John Doe</p>
        </div>
    </div>

    <a name="series_books"><div id="series-books-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div></a>
</div>

<!-- Amazon Genres -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title genres-title">Genres</p>
        </div>
    </div>

    <div id="amazon-genres-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div>

    <!-- Book By Genres -->
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title" id="book-by-genres">John Doe</p>
        </div>
    </div>

    <a name="genre_books"><div id="genres-books-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        
    </div></a>
</div>

<!-- Become A Subscriber -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Become a subscriber</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(1)">
                <img src="/static/images/subscription1.png" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(2)">
                <img src="/static/images/subscription2.png" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="choose_plan(3)">
                <img src="/static/images/subscription3.png" class="img-fluid banner-img" />
            </a>
        </div>
    </div>
</div>

{% endblock %}