<script>
    let age_group = null;

    let bestseller_title = "Amazon Bestsellers";
    let borrowed_title = "Most Borrowed Books";
    let authors_title = "Amazon Bestselling Authors";
    let publisher_title = "Amazon Bestselling Publications";
    let series_title = "Amazon Bestselling Series";
    let genres_title = "Genres";

    let age_groups = {
        1: "0-2 Years",
        2: "3-5 Years",
        3: "6-8 Years",
        4: "9-11 Years",
        5: "12-14 Years",
        6: "15+ Years"
    }

    $(document).ready(function() {
        $("#age-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:3
                },
                480:{
                    items:4
                },
                1024:{
                    items:6
                }
            }
        });

        $("#next-steps-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: false,
            dots: false,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            responsive:{
                0:{
                    items:1,
                    loop: true
                }
            }
        });

        get_amazon_bestsellers(age_group);
        get_most_borrowed(age_group);
        get_authors(age_group);
        get_formats(age_group);
        get_publishers(age_group);
        get_series(age_group);
        get_genres(age_group);

    })

    function text_short_author(text) {
        if(text.length > 15) {
            return text.substring(0, 12) + "...";
        }
        return text
    }

    function change_age_group(new_age_group) {
        if (age_group) {
            if (age_group == 1) {
                $(".age-1").css("background-color", "#FF7C72")
            }
            if (age_group == 2) {
                $(".age-2").css("background-color", "#fa7e0a")
            }
            if (age_group == 3) {
                $(".age-3").css("background-color", "#FFD631")
            }
            if (age_group == 4) {
                $(".age-4").css("background-color", "#8ACE38")
            }
            if (age_group == 5) {
                $(".age-5").css("background-color", "#74C7FF")
            }
            if (age_group == 6) {
                $(".age-6").css("background-color", "#CB85C2")
            }
        }

        age_group = new_age_group;

        if (age_group == 1) {
            $(".age-1").css("background-color", "#D7665A")
        }
        if (age_group == 2) {
            $(".age-2").css("background-color", "#DD832A")
        }
        if (age_group == 3) {
            $(".age-3").css("background-color", "#C8A102")
        }
        if (age_group == 4) {
            $(".age-4").css("background-color", "#75A040")
        }
        if (age_group == 5) {
            $(".age-5").css("background-color", "#499FD2")
        }
        if (age_group == 6) {
            $(".age-6").css("background-color", "#7A4172")
        }

        get_amazon_bestsellers(age_group);
        get_most_borrowed(age_group);
        get_authors(age_group);
        get_formats(age_group);
        get_publishers(age_group);
        get_series(age_group);
        get_genres(age_group);

        $(".bestseller-title").html(`${bestseller_title} (${age_groups[age_group]})`)
        $(".authors-title").html(`${authors_title} (${age_groups[age_group]})`)
        $(".publisher-title").html(`${publisher_title} (${age_groups[age_group]})`)
        $(".series-title").html(`${series_title} (${age_groups[age_group]})`)
        $(".genres-title").html(`${genres_title} (${age_groups[age_group]})`)

        $(window).scrollTop(300);
    }

    function get_formats(age_group) {
        let data = {
            age_group: age_group
        }

        $.ajax({
            url: "{{url_for('api.get_formats')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                for (let i = 0; i < result.data.length; i++) {
                    let html = `
                                <a onclick="format_clicked('${result.data[i].guid}')">
                                    <div class="format-box" id="${result.data[i].guid}" data-guid="${result.data[i].guid}">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 text-center format-box-container">
                                                <img src="https://bukrent-production.s3.ap-south-1.amazonaws.com/format_images/${result.data[i].name}.svg" class="img-fluid relative-img" />
                                                <div class="overlay-box hidden-overlay">
                                                    <img class="img-fluid selected-img" src="/static/images/selected.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            `

                    $("#formats-carousel").append(html);
                }

                $("#formats-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: false,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        }
                    }
                });
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_publisher_books(guid, navigate) {
        let data = {
            guid: guid
        };

        $.ajax({
            url: "{{url_for('api.get_publisher_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#book-by-publisher").html(`${result.name} Books`)
                $("#publisher-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#publisher-books-carousel").append(html);
                }

                $("#publisher-books-carousel").owlCarousel("destroy")

                $("#publisher-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#publisher_books";
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_author_books(guid, navigate) {
        let data = {
            guid: guid
        };

        $.ajax({
            url: "{{url_for('api.get_author_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#book-by-author").html(`${result.name} Books`)
                $("#author-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#author-books-carousel").append(html);
                }

                $("#author-books-carousel").owlCarousel("destroy")

                $("#author-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#author_books"
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_series_books(guid, navigate) {
        let data = {
            guid: guid
        };

        $.ajax({
            url: "{{url_for('api.get_series_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#book-by-series").html(`${result.name} Books`)
                $("#series-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#series-books-carousel").append(html);
                }

                $("#series-books-carousel").owlCarousel("destroy")

                $("#series-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#series_books"
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_series(age_group) {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_series')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#amazon-series-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let html = `
                        <a onclick="get_series_books('${result.data[i].guid}', true)">
                            <div class="series-box" id="${result.data[i].guid}" data-guid="${result.data[i].guid}">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 text-center series-box-container">
                                        <img src="https://bukrent-production.s3.ap-south-1.amazonaws.com/series_images/${result.data[i].name}.jpg" class="img-fluid relative-img" style="border-radius: 1rem; min-height:88%;" />
                                        <div class="overlay hidden-overlay">
                                            <img class="img-fluid selected-img" src="/static/images/selected.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    `

                    $("#amazon-series-carousel").append(html);
                }

                $("#amazon-series-carousel").owlCarousel("destroy")

                $("#amazon-series-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:3
                        },
                        1024:{
                            items:4
                        }
                    }
                });

                get_series_books(result.data[0].guid, false)
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_genres_books(guid, navigate) {
        let data = {
            guid: guid
        };

        $.ajax({
            url: "{{url_for('api.get_genres_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#book-by-genres").html(`${result.name} Books`)
                $("#genres-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#genres-books-carousel").append(html);
                }

                $("#genres-books-carousel").owlCarousel("destroy")

                $("#genres-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#genre_books"
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_genres(age_group) {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_genres')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#amazon-genres-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let item_number = i % 4;
                    let html = `
                        <a onclick="get_genres_books('${result.data[i].guid}', true)">
                            <div class="amazon-publishers-box box-color-${item_number} text-center">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 py-5">
                                        ${result.data[i].name}
                                    </div>
                                </div>
                            </div>
                        </a>
                    `

                    $("#amazon-genres-carousel").append(html);
                }

                $("#amazon-genres-carousel").owlCarousel("destroy")

                $("#amazon-genres-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:3
                        },
                        1024:{
                            items:4
                        }
                    }
                });

                get_genres_books(result.data[0].guid, false)
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_most_borrowed(age_group) {
        let data = {
            age_group: age_group
        };
        
        $.ajax({
            url: "{{url_for('api.get_most_borrowed')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#most-borrowed-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#most-borrowed-carousel").append(html);
                }

                $("#most-borrowed-carousel").owlCarousel("destroy")

                $("#most-borrowed-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                $.ajax({
                    url: "{{url_for('api.get_all_most_borrowed')}}",
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.data.length; i++) {
                            let html = create_book_html(result.data[i])

                            $("#most-borrowed-carousel").append(html);
                        }

                        $("#most-borrowed-carousel").owlCarousel("destroy")

                        $("#most-borrowed-carousel").owlCarousel({
                            responsiveClass:true,
                            margin:25,
                            nav: true,
                            dots: false,
                            responsive:{
                                0:{
                                    items:2
                                },
                                480:{
                                    items:5
                                },
                                1024:{
                                    items:8
                                }
                            }
                        });
                    },
                    error: function (result) {
                        Swal.fire(
                            'Uh Oh!',
                            result.responseJSON.message,
                            'error'
                        )
                    }
                })
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_amazon_bestsellers(age_group) {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_amazon_bestsellers')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#amazon-bestseller-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#amazon-bestseller-carousel").append(html);
                }

                $("#amazon-bestseller-carousel").owlCarousel("destroy")

                $("#amazon-bestseller-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                $.ajax({
                    url: "{{url_for('api.get_all_amazon_bestsellers')}}",
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.data.length; i++) {
                            let html = create_book_html(result.data[i])

                            $("#amazon-bestseller-carousel").append(html);
                        }

                        $("#amazon-bestseller-carousel").owlCarousel("destroy")

                        $("#amazon-bestseller-carousel").owlCarousel({
                            responsiveClass:true,
                            margin:25,
                            nav: true,
                            dots: false,
                            responsive:{
                                0:{
                                    items:2
                                },
                                480:{
                                    items:5
                                },
                                1024:{
                                    items:8
                                }
                            }
                        });
                    },
                    error: function (result) {
                        Swal.fire(
                            'Uh Oh!',
                            result.responseJSON.message,
                            'error'
                        )
                    }
                })
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_publishers(age_group) {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_publishers')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#amazon-publications-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let item_number = i % 4;
                    let html = `
                                <a onclick="get_publisher_books('${result.data[i].guid}', true)">
                                    <div class="amazon-publishers-box box-color-${item_number} text-center">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 py-5">
                                                ${result.data[i].name}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            `

                    $("#amazon-publications-carousel").append(html)
                }

                $("#amazon-publications-carousel").owlCarousel("destroy")

                $("#amazon-publications-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:3
                        },
                        1024:{
                            items:4
                        }
                    }
                });

                get_publisher_books(result.data[0].guid, false)
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }

    function get_authors(age_group) {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_authors')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                $("#amazon-authors-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let html = `
                                <a onclick="get_author_books('${result.data[i].guid}', true)">
                                    <div class="author-box" id="${result.data[i].guid}" data-guid="${result.data[i].guid}">
                                        <div class="row">
                                            <div class="col-12 col-md-12 col-lg-12 text-center author-box-container">
                                                <img src="https://bukrent-production.s3.ap-south-1.amazonaws.com/author_images/${result.data[i].name}.jpg" class="img-fluid relative-img" style="border-radius: 1rem;" />
                                                <div class="overlay hidden-overlay">
                                                    <img class="img-fluid selected-img" src="/static/images/selected.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            `
                    
                    $("#amazon-authors-carousel").append(html);
                }

                $("#amazon-authors-carousel").owlCarousel("destroy")

                $("#amazon-authors-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:3
                        },
                        1024:{
                            items:4
                        }
                    }
                });

                get_author_books(result.data[0].guid, false)
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            }
        })
    }
</script>