{% extends "template_new.jinja" %}
{% block main %}

{% include("home_new/home_script_new.jinja") %}
{% include("home_new/home_new_style.jinja") %}

<div class="mt-5 mb-3 px-3">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by author, title, series" aria-label="Book Search" aria-describedby="search-btn" name="search" id="search" />
            <span class="input-group-btn p-2" id="search-btn"><i class="fa-solid fa-magnifying-glass mt-1"></i></span>
        </div>
    </form>
</div>

<!-- Select By Age Section -->
<div class="container px-4">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Select By Age</p>
        </div>
    </div>

    <div id="age-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
        <div class="age-box age-1">
            <div class="row">
                <a onclick="change_age_group(1)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        0-2
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="/static/images/age1.png" class="img-fluid age-box-img" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-2">
            <div class="row">
                <a onclick="change_age_group(2)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        3-5
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="/static/images/age2.png" class="img-fluid age-box-img" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-3">
            <div class="row">
                <a onclick="change_age_group(3)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        6-8
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="/static/images/age3.png" class="img-fluid age-box-img" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-4">
            <div class="row">
                <a onclick="change_age_group(4)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        9-11
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="/static/images/age4.png" class="img-fluid age-box-img" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-5">
            <div class="row">
                <a onclick="change_age_group(5)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        12-14
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="/static/images/age5.png" class="img-fluid age-box-img" />
                    </div>
                </a>
            </div>
        </div>

        <div class="age-box age-6">
            <div class="row">
                <a onclick="change_age_group(6)">
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-big">
                        15+
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center age-text-small">
                        Years
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 text-center py-2">
                        <img src="/static/images/age6.png" class="img-fluid age-box-img" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="most-borrowed-container p-4 pt-0">
    <div id="most-borrowed-section">
        <div class="row my-3">
            <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
                <p class="section-title">Most Borrowed Books</p>
            </div>
        </div>

        <div id="most-borrowed-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
            
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-12 col-md-12 col-lg-12 text-start section-title-box mt-3 mt-md-1 mt-lg-0">
        <p class="section-title">Authors</p>
        <div style="height: 1px; background-color: black; margin-top: -15px;"></div>
    </div>

    <div id="author-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5 px-5 pt-5">
            
    </div>
</div>

<div class="author-books-container p-4">
    <div id="author-books-section">
        <div id="author-books-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
            
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-12 col-md-12 col-lg-12 text-start section-title-box mt-3 mt-md-1 mt-lg-0">
        <p class="section-title">Series</p>
        <div style="height: 1px; background-color: black; margin-top: -15px;"></div>
    </div>

    <div id="series-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5 px-5 pt-5">
            
    </div>
</div>

<div class="series-books-container p-4">
    <div id="series-books-section">
        <div id="series-books-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
            
        </div>
    </div>
</div>

<div class="bestseller-container p-4 pt-0">
    <div id="bestseller-section">
        <div class="row mb-3">
            <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
                <p class="section-title">Amazon Bestsellers</p>
            </div>
        </div>

        <div id="bestseller-carousel" class="owl-carousel owl-theme my-0 my-md-3 my-lg-5">
            
        </div>
    </div>
</div>

{% if user %}
    {% if not user.is_subscribed %}
    <!-- Choose your Plan -->
    <div class="container">
        <div class="row my-3">
            <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
                <p class="section-title">Choose your Plan</p>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-4 col-md-4 col-lg-4">
                <a onclick="window.location.href='/select-plan'">
                    <img src="/static/images/subscription1.svg" class="img-fluid banner-img" />
                </a>
            </div>
            <div class="col-4 col-md-4 col-lg-4">
                <a onclick="window.location.href='/select-plan'">
                    <img src="/static/images/subscription2.svg" class="img-fluid banner-img" />
                </a>
            </div>
            <div class="col-4 col-md-4 col-lg-4">
                <a onclick="window.location.href='/select-plan'">
                    <img src="/static/images/subscription3.svg" class="img-fluid banner-img" />
                </a>
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
<!-- Choose your Plan -->
<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-3 mt-md-1 mt-lg-0">
            <p class="section-title">Choose your Plan</p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="window.location.href='/select-plan'">
                <img src="/static/images/subscription1.svg" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="window.location.href='/select-plan'">
                <img src="/static/images/subscription2.svg" class="img-fluid banner-img" />
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-4">
            <a onclick="window.location.href='/select-plan'">
                <img src="/static/images/subscription3.svg" class="img-fluid banner-img" />
            </a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}