<script>
    let age_group = null;

    let bestseller_title = "Amazon Bestsellers";
    let borrowed_title = "Most Borrowed Books";
    let authors_title = "Amazon Bestselling Authors";
    let publisher_title = "Amazon Bestselling Publications";
    let series_title = "Amazon Bestselling Series";
    let genres_title = "Genres";

    let age_groups = {
        1: "0-2 Years",
        2: "3-5 Years",
        3: "6-8 Years",
        4: "9-11 Years",
        5: "12-14 Years",
        6: "15+ Years"
    }

    $(document).ready(function() {
        $("#age-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:3
                },
                480:{
                    items:4
                },
                1024:{
                    items:6
                }
            }
        });

        $("#next-steps-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:1
                }
            }
        });

        get_amazon_bestsellers(age_group);
        get_most_borrowed(age_group);
        generate_amazon_bestselling_series();
        generate_amazon_bestselling_genres();

    })

    function text_short_author(text) {
        if(text.length > 15) {
            return text.substring(0, 12) + "...";
        }
        return text
    }

    function change_age_group(new_age_group) {
        if (age_group) {
            if (age_group == 1) {
                $(".age-1").css("background-color", "#FF7C72")
            }
            if (age_group == 2) {
                $(".age-2").css("background-color", "#FFA142")
            }
            if (age_group == 3) {
                $(".age-3").css("background-color", "#FFD631")
            }
            if (age_group == 4) {
                $(".age-4").css("background-color", "#8ACE38")
            }
            if (age_group == 5) {
                $(".age-5").css("background-color", "#74C7FF")
            }
            if (age_group == 6) {
                $(".age-6").css("background-color", "#CB85C2")
            }
        }

        age_group = new_age_group;

        if (age_group == 1) {
            $(".age-1").css("background-color", "#D7665A")
        }
        if (age_group == 2) {
            $(".age-2").css("background-color", "#DD832A")
        }
        if (age_group == 3) {
            $(".age-3").css("background-color", "#C8A102")
        }
        if (age_group == 4) {
            $(".age-4").css("background-color", "#75A040")
        }
        if (age_group == 5) {
            $(".age-5").css("background-color", "#499FD2")
        }
        if (age_group == 6) {
            $(".age-6").css("background-color", "#7A4172")
        }

        get_amazon_bestsellers(age_group);

        $(".bestseller-title").html(`${bestseller_title} (${age_groups[age_group]})`)
        $(".authors-title").html(`${authors_title} (${age_groups[age_group]})`)
        $(".publisher-title").html(`${publisher_title} (${age_groups[age_group]})`)
        $(".series-title").html(`${series_title} (${age_groups[age_group]})`)
        $(".genres-title").html(`${genres_title} (${age_groups[age_group]})`)

        $(window).scrollTop(300);
    }

    function get_publisher_books(publisher, navigate) {
        let data = {
            publisher: publisher
        };

        $.ajax({
            url: "{{url_for('api.get_publisher_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#book-by-publisher").html(`${publisher} Books`)
                $("#publisher-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#publisher-books-carousel").append(html);
                }

                $("#publisher-books-carousel").owlCarousel("destroy")

                $("#publisher-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#publisher_books";
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_author_books(author, navigate) {
        let data = {
            author: author
        };

        $.ajax({
            url: "{{url_for('api.get_author_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#book-by-author").html(`${author} Books`)
                $("#author-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#author-books-carousel").append(html);
                }

                $("#author-books-carousel").owlCarousel("destroy")

                $("#author-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#author_books"
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_series_books(series, navigate) {
        let data = {
            series: series
        };

        $.ajax({
            url: "{{url_for('api.get_series_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#book-by-series").html(`${series} Books`)
                $("#series-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#series-books-carousel").append(html);
                }

                $("#series-books-carousel").owlCarousel("destroy")

                $("#series-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#series_books"
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function generate_amazon_bestselling_series() {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_series')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#amazon-series-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let item_number = i % 4;
                    let html = `
                        <a onclick="get_series_books('${result.data[i]}', true)">
                            <div class="amazon-series-box box-color-${item_number} text-center">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 py-5">
                                        ${result.data[i]}
                                    </div>
                                </div>
                            </div>
                        </a>
                    `

                    $("#amazon-series-carousel").append(html);
                }

                $("#amazon-series-carousel").owlCarousel("destroy")

                $("#amazon-series-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:3
                        },
                        1024:{
                            items:4
                        }
                    }
                });

                get_series_books(result.data[0], false)
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_genres_books(genres, navigate) {
        let data = {
            genres: genres
        };

        $.ajax({
            url: "{{url_for('api.get_genres_books')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#book-by-genres").html(`${genres} Books`)
                $("#genres-books-carousel").empty();
                
                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#genres-books-carousel").append(html);
                }

                $("#genres-books-carousel").owlCarousel("destroy")

                $("#genres-books-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                if (navigate) {
                    window.location.href = "#genre_books"
                }
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function generate_amazon_bestselling_genres() {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_genres')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#amazon-genres-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let item_number = i % 4;
                    let html = `
                        <a onclick="get_genres_books('${result.data[i].name}', true)">
                            <div class="amazon-genres-box px-2 pt-2 px-md-3 pt-md-3 px-lg-4 pt-lg-4 box-color-${item_number}">
                                <div class="row">
                                    <div class="col-6 col-md-6 col-lg-6 mb-5">
                                        <img src="${result.data[i].image_1}" class="img-fluid genre-img-1 book-img-small" />
                                    </div>
                                    <div class="col-6 col-md-6 col-lg-6 mb-5">
                                        <img src="${result.data[i].image_2}" class="img-fluid genre-img-2 book-img-small" />
                                    </div>
                                    <div class="text-center genre-name-container text-container-color-${item_number}">
                                        ${result.data[i].name}
                                    </div>
                                </div>
                            </div>
                        </a>
                    `

                    $("#amazon-genres-carousel").append(html);
                }

                $("#amazon-genres-carousel").owlCarousel("destroy")

                $("#amazon-genres-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:2
                        },
                        480:{
                            items:3
                        },
                        1024:{
                            items:4
                        }
                    }
                });

                get_genres_books(result.data[0].name, false)
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_most_borrowed(age_group) {
        let data = {
            age_group: age_group
        };
        
        $.ajax({
            url: "{{url_for('api.get_most_borrowed')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#most-borrowed-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#most-borrowed-carousel").append(html);
                }

                $("#most-borrowed-carousel").owlCarousel("destroy")

                $("#most-borrowed-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                $.ajax({
                    url: "{{url_for('api.get_all_most_borrowed')}}",
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.data.length; i++) {
                            let html = create_book_html(result.data[i])

                            $("#most-borrowed-carousel").append(html);
                        }

                        $("#most-borrowed-carousel").owlCarousel("destroy")

                        $("#most-borrowed-carousel").owlCarousel({
                            responsiveClass:true,
                            margin:25,
                            nav: true,
                            dots: false,
                            responsive:{
                                0:{
                                    items:3
                                },
                                480:{
                                    items:5
                                },
                                1024:{
                                    items:8
                                }
                            }
                        });
                    },
                    error: function (result) {
                        Swal.fire(
                            'Uh Oh!',
                            result.responseJSON.message,
                            'error'
                        )
                    }
                })
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function get_amazon_bestsellers(age_group) {
        let data = {
            age_group: age_group
        };

        $.ajax({
            url: "{{url_for('api.get_amazon_bestsellers')}}",
            type: "post",
            data: JSON.stringify(data),
            dataType: 'json',
            contentType: 'application/json',
            beforeSend: function(){
                $('.main-container').addClass('blur');
                $(':button').prop('disabled', true);
                $("#loader").show();
            },
            success: function (result) {
                $("#amazon-bestseller-carousel").empty();

                for (let i = 0; i < result.data.length; i++) {
                    let html = create_book_html(result.data[i])

                    $("#amazon-bestseller-carousel").append(html);
                }

                $("#amazon-bestseller-carousel").owlCarousel("destroy")

                $("#amazon-bestseller-carousel").owlCarousel({
                    responsiveClass:true,
                    margin:25,
                    nav: true,
                    dots: false,
                    responsive:{
                        0:{
                            items:3
                        },
                        480:{
                            items:5
                        },
                        1024:{
                            items:8
                        }
                    }
                });

                generate_amazon_bestselling_authors(result.data);
                generate_amazon_bestselling_publishers(result.data);

                $.ajax({
                    url: "{{url_for('api.get_all_amazon_bestsellers')}}",
                    type: "post",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        for (let i = 0; i < result.data.length; i++) {
                            let html = create_book_html(result.data[i])

                            $("#amazon-bestseller-carousel").append(html);
                        }

                        $("#amazon-bestseller-carousel").owlCarousel("destroy")

                        $("#amazon-bestseller-carousel").owlCarousel({
                            responsiveClass:true,
                            margin:25,
                            nav: true,
                            dots: false,
                            responsive:{
                                0:{
                                    items:3
                                },
                                480:{
                                    items:5
                                },
                                1024:{
                                    items:8
                                }
                            }
                        });

                        generate_amazon_bestselling_authors(result.data);
                        generate_amazon_bestselling_publishers(result.data);
                    },
                    error: function (result) {
                        Swal.fire(
                            'Uh Oh!',
                            result.responseJSON.message,
                            'error'
                        )
                    }
                })
            },
            error: function (result) {
                Swal.fire(
                    'Uh Oh!',
                    result.responseJSON.message,
                    'error'
                )
            },
            complete:function(data){
                $('.main-container').removeClass('blur');
                $(':button').prop('disabled', false);
                $("#loader").hide();
            }
        })
    }

    function generate_amazon_bestselling_publishers(data) {
        $("#amazon-publications-carousel").empty();

        let publishers = []
        for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < data[i].publishers.length; j++) {
                if (publishers.includes(data[i].publishers[j])) {
                    ;
                } else {
                    publishers.push(data[i].publishers[j])
                }
            }
        }

        for (let i = 0; i < publishers.length; i++) {
            let item_number = i % 4;
            let html = `
                        <a onclick="get_publisher_books('${publishers[i]}', true)">
                            <div class="amazon-publishers-box box-color-${item_number} text-center">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12 py-5">
                                        ${publishers[i]}
                                    </div>
                                </div>
                            </div>
                        </a>
                    `

            $("#amazon-publications-carousel").append(html)
        }

        $("#amazon-publications-carousel").owlCarousel("destroy")

        $("#amazon-publications-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:3
                },
                1024:{
                    items:4
                }
            }
        });

        get_publisher_books(publishers[0], false)
    }

    function generate_amazon_bestselling_authors(data) {
        $("#amazon-authors-carousel").empty();

        let authors = [];
        for (let i = 0; i < data.length; i++) {
            for (let j = 0; j < data[i].authors.length; j++) {
                if (authors.includes(data[i].authors[j])) {
                    ;
                } else {
                    authors.push(data[i].authors[j])
                }
            }
        }
        
        for (let i = 0; i < authors.length; i++) {
            let item_number = i % 4;
            let html = `
                        <a onclick="get_author_books('${authors[i]}', true)">
                            <div class="amazon-authors-box px-2 pt-2 px-md-3 pt-md-3 px-lg-4 pt-lg-4 box-color-${item_number}">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-12" style="min-height:100px">
                                    </div>
                                    <div class="text-center author-name-container text-container-color-${item_number}">
                                        ${text_short_author(authors[i])}
                                    </div>
                                </div>
                            </div>
                        </a>
                    `
            
            $("#amazon-authors-carousel").append(html);
        }

        $("#amazon-authors-carousel").owlCarousel("destroy")

        $("#amazon-authors-carousel").owlCarousel({
            responsiveClass:true,
            margin:25,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items:2
                },
                480:{
                    items:3
                },
                1024:{
                    items:4
                }
            }
        });

        get_author_books(authors[0], false)
    }
</script>