<style>
    .no-desktop {
        display: none;
    }

    .no-mobile {
        display: block;
    }

    .title-box {
        background-color: #ffedd6;
        font-size: 2rem;
        font-weight: 900;
    }

    .big-title-text {
        color: #ffa142;
        font-size: 4rem;
        font-weight: 900;
    }

    .title-box2 {
        background-color: #fdccf6;
        font-size: 2rem;
        font-weight: 900;
    }

    .big-title-text2 {
        color: #c783b7;
        font-size: 4rem;
        font-weight: 900;
    }

    .title-box3 {
        background-color: #ccfe8e;
        font-size: 2rem;
        font-weight: 900;
    }

    .big-title-text3 {
        color: #8ace38;
        font-size: 4rem;
        font-weight: 900;
    }

    .title-box4 {
        background-color: #ffc3be;
        font-size: 2rem;
        font-weight: 900;
    }

    .big-title-text4 {
        color: #ff7c72;
        font-size: 4rem;
        font-weight: 900;
    }

    .age-box {
        border-radius: 1rem;
    }

    .age-1 {
        background-color: #ff7c73;
    }

    .age-2 {
        background-color: #ffa142;
    }

    .age-3 {
        background-color: #f4c91a;
    }

    .age-4 {
        background-color: #8ace38;
    }

    .age-5 {
        background-color: #74c7ff;
    }

    .age-6 {
        background-color: #cb85c2;
    }

    .age-text-big {
        color: white;
        font-weight: 900;
        font-size: 3rem;
    }

    .age-text-small {
        color: white;
        font-size: 2rem;
    }

    .book-img-small {
        min-height: 15vh;
        max-height: 15vh;
    }

    .amazon-authors-box {
        background-color: #eaeaea;
        border-radius: 1rem;
        position: relative;
    }

    .amazon-genres-box {
        background-color: #eaeaea;
        border-radius: 1rem;
        position: relative;
    }

    .amazon-publishers-box {
        background-color: #eaeaea;
        border-radius: 1rem;
    }

    .amazon-series-box {
        background-color: #eaeaea;
        border-radius: 1rem;
    }

    .box-color-0 {
        border: 3px solid #ffa142;
    }

    .box-color-1 {
        border: 3px solid #ff7c72;
    }

    .box-color-2 {
        border: 3px solid #8ace38;
    }

    .box-color-3 {
        border: 3px solid #74c7ff;
    }

    .author-img {
        position: relative;
    }

    .genre-img-1,
    .genre-img-2 {
        position: relative;
    }

    .author-name-container {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        font-weight: 900;
    }

    .genre-name-container {
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        font-weight: 900;
    }

    .text-container-color-0 {
        background-color: #ffa142;
    }

    .text-container-color-1 {
        background-color: #ff7c72;
    }

    .text-container-color-2 {
        background-color: #8ace38;
    }

    .text-container-color-3 {
        background-color: #74c7ff;
    }

    @media (max-width: 1024px) {
        .age-text-big {
            color: white;
            font-weight: 900;
            font-size: 2rem;
        }

        .age-text-small {
            color: white;
            font-size: 1.5rem;
        }

        .book-img-small {
            min-height: 7.5vh;
            max-height: 7.5vh;
        }

        .title-box {
            background-color: #ffedd6;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .big-title-text {
            color: #ffa142;
            font-size: 3rem;
            font-weight: 900;
        }

        .title-box2 {
            background-color: #fdccf6;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .big-title-text2 {
            color: #c783b7;
            font-size: 3rem;
            font-weight: 900;
        }

        .title-box3 {
            background-color: #ccfe8e;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .big-title-text3 {
            color: #8ace38;
            font-size: 3rem;
            font-weight: 900;
        }

        .title-box4 {
            background-color: #ffc3be;
            font-size: 1.5rem;
            font-weight: 900;
        }

        .big-title-text4 {
            color: #ff7c72;
            font-size: 3rem;
            font-weight: 900;
        }
    }

    @media (max-width:480px) {
        .no-mobile {
            display: none;
        }

        .no-desktop {
            display: block;
        }

        .age-text-big {
            color: white;
            font-weight: 900;
            font-size: 2rem;
        }

        .age-text-small {
            color: white;
            font-size: 1rem;
        }

        .book-img-small {
            min-height: 7.5vh;
            max-height: 7.5vh;
        }
    }
</style>