<style>
    .otp-digit {
        width: 15%;  
        height: 75px;  
        background-color: #ffedd7;  
        border: none;  
        line-height: 50px;  
        text-align: center;  
        font-size: 24px;  
        font-weight: 900;  
        margin: 0 2px; 
    }

    .otp-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .resend-otp {
        font-size: 0.75rem;
        color: red;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>