{% extends "template_new.jinja" %}
{% block main %}

{% include("about_us/about_us_script.jinja") %}
{% include("about_us/about_us_style.jinja") %}

<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center mt-3 mt-md-1 mt-lg-0">
            <p style="font-size: 1.5rem;"><b>About Us</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            We are a team of highly motivated individuals (& techies, parents, veterans, wanderers, homebodies, outdoor enthusiasts) offering a book rental home delivery service.
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12">
            We embrace books as cherished objects and are committed to our mission of improving access and affordability for readers everywhere.
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-md-12 col-lg-12">
            We are here for folks who favor reuse and love to flip real pages.
        </div>
    </div>
</div>

{% endblock %}