{% extends "template.jinja" %}
{% block main %}

{% include("order_placed/order_placed_script.jinja") %}
{% include("order_placed/order_placed_style.jinja") %}

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-12 col-lg-12 text-center section-title-box mt-0 mt-md-1 mt-lg-5">
            <p class="section-title">Order Placed Successfully!</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <p class="gray-text">The books will be delivered in 3-5 business days!</p>
        </div>
    </div>
</div>

{% endblock %}