<style>
    .text-gray {
        color: #636363;
    }

    .text-red {
        color: red;
    }

    .cart-button {
        background-color: #FFA142;
        color: white;
        border: 2px solid #FFA142;
        border-radius: 1em;
        width: 60%;
    }

    .wishlist-button {
        background-color: white;
        color: #FFA142;
        border: 2px solid #FFA142;
        border-radius: 1em;
        width: 60%;
    }

    @media (max-width: 1024px) {
        .no-mobile {
            display: none;
        }

        .cart-button {
            background-color: #FFA142;
            color: white;
            border: 2px solid #FFA142;
            border-radius: 1em;
            width: 80%;
        }

        .wishlist-button {
            background-color: white;
            color: #FFA142;
            border: 2px solid #FFA142;
            border-radius: 1em;
            width: 80%;
        }
    }
</style>